<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main.html">
<div layout:fragment="site_content" style="min-height: 600px;">
    <div class="row mt-5">
        <div class="col-12">
            <h1 style="text-align: center;">WELCOME <span th:text="${current_user.getFullname()}"></span></h1>
            <div class="row">
                <div class="col-6 offset-3">
                    <img th:src="@{'viewphoto/'+${current_user.user_avatar}}" class="my-3" width="200px" height="200px">
                </div>
            </div>
                <div class="row">
                    <div class="col-6 offset-3">
                        <form th:action="@{'/uploadavatar'}" method="post" enctype="multipart/form-data">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="user_avatar">
                                <label class="custom-file-label" for="customFile" th:text="#{button.choose}"></label>
                                <button class="btn btn-success mt-3" th:text="#{button.browse}"></button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
</html>